:root {
    --yellow: hsl(47, 88%, 63%);
    --light-gray: hsl(0, 0%, 42%);
    --gray: hsl(0, 0%, 7%);
}
html{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

body{
    background-color: var(--yellow);
    font-family: "Figtree", sans-serif;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Hide scrollbars */
    
}

p {
    font-size: 16px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    line-height: 1.4rem;
}

.card h2{
    font-size: 20px;
    font-weight: 800;
    color: var(--gray);
    cursor: pointer;
}

.card h2:hover{
    color: var(--yellow);
}

.discription{
    margin-bottom: 15px;
    color: var(--light-gray);

}

.card{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 1rem;
    width: 260px;
    padding: 1rem 1rem 1.5rem 1rem;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 6px 6px 0px 1px rgba(0,0,0,1);  
    box-shadow: 6px 6px 0px 1px rgba(0,0,0,1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.card:hover{
    box-shadow: 6px 6px 0px 6px rgba(0,0,0,1);
}

.learning-button{
    background-color: var(--yellow);
    border-radius: 1rem;
    font-weight: bold;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 18px;
}

.illustration-article{
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    margin-bottom: 20px;
}

.card .profile-info{
    display: flex;
    flex-direction: row ;
    width: auto;
    align-items: center;
}

.profile-picture{
    width: 30px;
    height: 30px; /* Ensures the image remains a square */
    border-radius: 50%; /* Makes it a perfect circle */
    object-fit: cover; /* Prevents distortion */
}

.name{
    font-weight: bold;
    margin-left: 10px;
}